doctype html
html
    head
        style
            include style.css
    body
        //div#id так прописуються id-шники (class)
        div
            //| HELLO CHAT //  |text - сприймається як текст
            | HELLO CHAT
            br
            | Верстка буде, але колись
        div
            block content
        //div.footer.long.box.big - так прописуються класи
        div.footer
            | Best regards
            br
            a(href=frontendURL) DEC course Node.js

